
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
<script src="script.js"></script>

</body>
<footer>
  <p>Copywrite@ Deepak 2020</p>
</footer>
</html>
