<%- include("partials/header") -%>

<div class="about-container">
  <img src="images/nature.jpg" alt="">
  <h2>Click on home to search again</h2>
  <h1>Hi I am Deepak Dangi</h1>
  <p>
    I am a student of IET Lko. Currently I am parsuing B-Teach from IET in. My Branch is EI........
    Most of you know about me ............
    </p>
</div>
<%- include("partials/footer") -%>
