<%-include("partials/header") -%>

<div class="about-container">
  <img src="images/nature.jpg" alt="">
  <h1>Contact me at </h1>
  <p>
  Phone: .....
    </p>
    <p>
    Email: .....
      </p>
</div>

<%-include("partials/footer") -%>
