<%- include("partials/header") -%>
<div class="error">
  <h1>Sorry could not found the item</h1>
  <p>
    Try following
    </p>
  <ul>
    <li>Use short names (eg.United States => USA)</li>
    <li>Use correct country names(eg. Ind =>India, Pak =>Pakistan)</li>
    <li>Still not found Chill and chek on Google.</li>
    <li>Thank You </li>
  </ul>
</div>

<%- include("partials/footer") -%>
